* {
    margin: 0;
    padding: 0;
}
div {
    width: 200px;
    height: 200px;
    margin: 200px auto;
    background: #787878;
    box-shadow: -98px -102px 0px #f65314,
                105px -102px 0px #7cbb00,
                105px 101px 0px #00a1f1,
                -98px 101px 0px #ffbb00;
}